html {
    background-image: url(1111.jpg);
    background-repeat: repeat ; 
    background-size: cover;
  }
  .user-profile {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  .user-photo-name-container {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%), url('1111.jpg');
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }
  
  .user-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-name {
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
    color: #007bff;
  }
  
  .user-bio {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
    color: #444;
  }

  .user-posts-section {
    margin-bottom: 20px;
  }
  
  .post {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  }
  .post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .post-content {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    color: #444;
  }